<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
  <connectionStrings>
    <add name="DBContext" connectionString="Server=.;Database=fastfood_publish;User Id=sa;Password=P@ssw0rd;" providerName="System.Data.SqlClient"/>
    <!--<add name="DBContext" connectionString="Server=localhost\SQLEXPRESS01;Database=fastfood;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings>
    <add key="from_email_address" value="chichi.fastfood.business@gmail.com"/>
    <add key="to_email_address" value="sasansharifipour@gmail.com, saadat1364@gmail.com"/>
    <add key="email_key" value="koad xnpq pbod vtbc"/>
    <add key="cash_desk_printer_name" value="Microsoft Print to PDF"/>
    <add key="kitchen_printer_name" value="Microsoft XPS Document Writer"/>
    <add key="currecny_title" value="ریال"/>
    <add key="button_width" value="150"/>
    <add key="button_height" value="100"/>
    <add key="special_button_width" value="20"/>
    <add key="special_button_height" value="20"/>
  </appSettings>
</configuration>